---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
AutoID.ro – Intelligent Solutions for Identification and Automation

AutoID.ro is a leading Romanian provider of advanced identification, tracking, and automation technologies. Specializing in barcode scanning, RFID, NFC, mobile computing, and labeling systems, we deliver cutting-edge solutions that streamline operations across retail, logistics, manufacturing, healthcare, and more.
With over 20 years of expertise and partnerships with global technology brands, AutoID.ro empowers businesses with reliable hardware, custom software integration, and technical support tailored to every industry’s specific needs.
`;
---

<Layout title="AutoID.ro – Intelligent Solutions for Identification and Automation">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">Label Printers, Print & Apply Systems, Barcode Scanners, Mobile Terminals, Panels PC`s, Robotic Arms and more...</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>
        <a href="https://www.autoid.ro" class="btn btn-lg sm:min-w-64">Check all AutoID Products</a>
    </p>
</Layout>
